body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 20px;
  width: 300px;
  height: 360px;
}

h1 {
  font-size: 20px;
  margin-top: 0;
}
h1.Heading ,h2.Heading{
  position: sticky;
  background: #060606;
  color: white;
  text-align: center;
  border-top: 5px;
  display: list-item;
  padding: 10px;}
h2.Heading{
  padding: 0px;
}
form {
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  display: block;
  width: 96%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"],
button[type="button"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #3e8e41;
}

#buttonOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: ; */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.popup label {
  display: block;
  margin-bottom: 5px;
}

.popup input[type="email"],
.popup input[type="password"] {
  width: auto;
  padding: 5px;
  margin-bottom: 10px;
  border:1px solid #ccc;
  border-radius: 3px;
}

.popup #admin-login-button, .popup #admin-close-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  /* margin-right: 10px; */
}

.popup #admin-login-button:hover, .popup #admin-close-button:hover {
  background-color: #3e8e41;
}


